.carousel.carousel-slider .control-arrow:hover {
  background: transparent !important;
}

.css-13fo8vy-MuiPaper-root-MuiAccordion-root:before {
  background: transparent !important;
}

.css-15s21gk-MuiPaper-root-MuiAccordion-root:before {
  background: transparent !important;
}
