.css-yi4cki-MuiBadge-badge {
  background-color: red !important;
  font-size: 9px !important;
  padding: 0px 0px !important;
  min-width: 12px !important;
  height: 11px !important;
  border-radius: 21px !important;
}
